<!DOCTYPE html>
<html>
<head>
  <title>CCLA signing request</title>
</head>
<body>
  <h1>Corporate Contributor License Agreement (CCLA) signing request</h1>
  <form action="submit/" method="post">
    {% csrf_token %}
    <p>
      {{ form.company.label_tag }}<br>
      {{ form.company }}
    </p>
    <p>Authorized Signer</p>
    <small>This is an individual in your organization who is authorized to sign the
           Contributor License Agreement on behalf of your organization. They will
           receive an email with a link to a webpage where they can read and sign
           the agreement electronically.
    </small>
    <p>
      {{ form.authorized_signer_name.label_tag }}<br>
      {{ form.authorized_signer_name }}
    </p>
    <p>
      {{ form.authorized_signer_email.label_tag }}<br>
      {{ form.authorized_signer_email }}
    </p>
    <p>
      <button type="submit">Send signing request</button>
    </p>
  </form>
</body>
</html>
