<!DOCTYPE html>
<html>
<head>
  <title>CCLA signing request</title>
</head>
<body>
  <h1>Corporate Contributor License Agreement (CCLA) signing request</h1>
  <form action="submit/" method="post">
    {% csrf_token %}
    <p>
      {{ form.point_of_contact_name.label_tag }}<br>
      {{ form.point_of_contact_name }}
    </p>
    <p>
      {{ form.point_of_contact_email.label_tag }}<br>
      {{ form.point_of_contact_email }}
    </p>
    <p>
      {{ form.authorized_signer_name.label_tag }}<br>
      {{ form.authorized_signer_name }}
    </p>
    <p>
      {{ form.authorized_signer_email.label_tag }}<br>
      {{ form.authorized_signer_email }}
    </p>
    <p>
      <button type="submit">Send signing request</button>
    </p>
  </form>
</body>
</html>
